@import "tailwindcss";


@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: blue;
  --color-primary-hover: rgba(0,100,214,0.2);
  --color-secondary: #64748b;
  --border: #e2e8f0;
  --card-bg: #ffffff;
  --shadow: rgba(0, 0, 0, 0.1);
  --shadow-hover: rgba(0, 0, 0, 0.15);
  --font-poppins: Poppins;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #3b82f6;
    --primary-hover: #60a5fa;
    --secondary: #94a3b8;
    --border: #1e293b;
    --card-bg: #111111;
    --shadow: rgba(0, 0, 0, 0.3);
    --shadow-hover: rgba(0, 0, 0, 0.5);
  }
} */